<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDeygc_fsH9RZEXLoAX5zeGdQFHsgBKkpk</string>
	<key>GCM_SENDER_ID</key>
	<string>165785239481</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.atrack.manager</string>
	<key>PROJECT_ID</key>
	<string>atrack-manager-andriod</string>
	<key>STORAGE_BUCKET</key>
	<string>atrack-manager-andriod.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:165785239481:ios:a574e5d4aa774734d70068</string>
</dict>
</plist>
